<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/app.css"></link>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" ></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
          $('#dependencies').DataTable({
            "paging": false,
            "info": false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "columns": [
              null,
              { "orderable": false },
              { "orderable": false },
              null,
              null,
              null
            ]
          });
      });
    </script>
  </head>

  <body class='container'>

    {% include "navbar.html" %}

    <div id='content'>
      <h1 style="text-align:center">Dependencies of {{software}}-{{version}}</h1>
      <center><a href="{{software}}-{{version}}_todo.html"><button class="btn btn-primary">Get ToDO list</button></a></center>
      <table id='dependencies' class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Requirement</th>
            <th>Debian Version</th>
            <th>Suite</th>
            <th>Status</th>
            <th>Satisfied?</th>
          </tr>
        </thead>
        <tbody>
          {% for dep in final_list %}
          <tr class="{{ color_map.get(dep.color, '') }}">
              <td>{{ dep.name }}</td>
              <td>{{ dep.requirement | join(', ') }}</td>
              <td>{{ dep.version }}</td>
              <td>{{ dep.suite }}</td>
              <td>{{ dep.status }}</td>
              {%if dep.satisfied == True %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
